@media (max-width: 768px) {
    .logo {
        width: 90px;
        height: 50px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: 5px;
    }
    /* 
~~~~~~~~~~~~
NAV
~~~~~~~~~~~~ 
*/
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
        flex-direction: column;
    }
    .textsize{
        font-size: 20px;
        margin-top: 60px;
    }
    /* 
~~~~~~~~~~~~
RECHERCHE
~~~~~~~~~~~~ 
*/
    main{
        margin: 0;
    }
    header {
        margin: 0 3.5%;
    }
/* 
~~~~~~~~~~~~
FILTRE
~~~~~~~~~~~~ 
*/
    .filtres{
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .filtres{
        flex-wrap: wrap;
    }
    .margfiltre{
        width: 100%;
        justify-content: initial;
    }
    .filtre{
        width: auto;
        margin: 20px 4px 10px;
    }
/* 
~~~~~~~~~~~~
CADRE HEBERGEMENT
~~~~~~~~~~~~ 
*/
    .sizehebergement{
        flex: 2;
        order: 2;
        flex-direction: column;        
        width: 100%;
        margin: 0;
        background-color: white;

    }
    .flexbox{
        flex-direction: column;
    }
    .encadrement{
        width: auto;
        margin: 5px;
    }
    .flexmarge{
        flex-direction: column;
    }


/* 
~~~~~~~~~~~~
ACTIVTITES
~~~~~~~~~~~~ 
*/
    .Activites{

        flex-direction: column;
    }
    /* 
~~~~~~~~~~~~
CADRE POPULAIRE
~~~~~~~~~~~~ 
*/
    .sizepopulaire{
        width: 100%;
    padding: 10px 0px 1px;
    border-radius: 0;
    height: auto;
    flex: 1;
    order: 1;
    }
    .populaire{
        margin: 0 7px 20px;
    }

/* 
~~~~~~~~~~~~
ACTIVITES
~~~~~~~~~~~~ 
*/
    .activite{
        flex-direction: column;
        height: 100%;
        width: auto;
        
    }
    .border-activite{
        margin-bottom: 25px;
        width: 100%;
        border-radius: 20px;
        margin-top: 90px;
    }
    .activite23456{
        width: 100%;
        height: 500px;
    }
    .imgactivite1{
        height: 185px;
        border-radius: 20px;
    }
    .imgactivite2{
        height: 185px;
        border-radius: 20px;
    }
    .imgactivite3{
        height: 185px;
        border-radius: 20px;
    }
    /* 
~~~~~~~~~~~~
FOOTER
~~~~~~~~~~~~ 
*/
    .footer{
        font-size: 15px;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 100px;
    }
    .taileblock{
        margin-right: 0;
    }
    .buttonsearch-mobile{
        display: flex;
        height: 50px;
        width: 40px;
        color: white;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
    }
    .buttonsearch{
        display: none;
    }

}